p {
  margin: 0;
}

.Card {
  max-width: 500px;
  margin: 20px auto 0;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-direction: row;
}
.Card a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: none;
  margin-top: 10px;
  color: #da552f;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.Card a:hover {
  background: #da552f;
  color: #fff;
}
.cardImg {
  text-align: center;
}

.cardTypes {
  display: flex;
  justify-content: center;
}

.cardType {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: #da552f;
  color: #fff;
}

.cardName {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.cardInfo {
  margin-left: 10px;
}

.cardAbility {
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cardAbility .title {
  font-weight: 700;
}
